.iwhite {
    background-color: rgba(256, 256, 256, 0.7);
    backdrop-filter: blur(10px);
}
.iblue, .iblue *{
    color : blue;
}

.iblack , .iblack *{
    color:black;
}
.pointer{
    cursor: pointer;
}
.bg-grey {
    background-color: gainsboro;
}
.padded-top-bottom {
    padding-top: 2em;
    padding-bottom: 2em;
}

.round {
    border-radius: 50%;
}