body {
    padding:0px;
    margin:0px;
}
* {
    box-sizing: border-box;
}

.desktop {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/bae-suzy.jpg');
    background-size:cover;
}

.home {
    /* display: flex; */
    padding: 1vh;
}

.menu-bar {
    height: 2em;
    padding: 0.5em;
    padding-left: 2em;
    padding-right:2em;
    background-color: rgba(256, 256, 256, 0.5);
    width: 100%;
    background-blend-mode: hue;
}

.icon {
    /* border: 1px solid #cccccc; */
    border-radius: 16px;
    width: 64px;
    height: 96px;
    /* background-color: white; */
    margin: 1vh;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
.icon-text {
    color: white;
}

.window {
    width: 25vw;
    height: 25vh;
    border: 1px solid grey;
    background-color: white;
    border-radius: 8px;
    resize: both;
    overflow: auto;
    position: absolute;
    z-index: 9;
}

.action-icon {
    cursor:initial;
}
.window-header {
    height: 2em;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    cursor: move;
    display: flex;
    z-index: 10;
}

.window-content {
    background-color: white;
}

.action-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    z-index: 11;
}

.red {
    background-color: #f46c51;
}
.yellow {
    background-color: #f0d77b;
}
.green {
    background-color: #53c653;
}

.small {
    width: 16px;
    height: 16px;
}


.medium {
    width: 64px;
    height: 64px;
}