<section class="container">
    <div class="row">
        <div class="col-md-6">
            <spotify-song audio="currentAudio"></spotify-song>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li ng-repeat="audio in  data.spotify" 
                    ng-click="playSpotifyAudio(audio)"
                    class="list-group-item pointer">
                    {{audio.title}} - {{audio.artist}} 
                </li>
            </ul>
        </div>
    </div>

</section>