.icon {
    /* border: 1px solid #cccccc; */
    border-radius: 16px;
    width: 64px;
    height: 96px;
    /* background-color: white; */
    margin: 1vh;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
.icon-text {
    color: white;
}
