<section class="container">
    <div class="row">
        <div class="col-md-6">
            <youtube-video video="currentVideo" ></youtube-video>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li ng-repeat="video in  data.youtube.music.rock" 
                    ng-click="playYoutubeVideo(video)"
                    class="list-group-item pointer">
                    {{video.title}}
                </li>
            </ul>
        </div>
    </div>
</section>