
.application {
    border: 1px solid grey;
    background-color: white;
    border-radius: 8px;
    resize: both;
    overflow: auto;
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
}

.action-icon {
    cursor:initial;
}

.application-header {
    height: 2em;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    cursor: move;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    flex: 0 1 auto;
}

.application-content {
    background-color: white;
    flex: 1 1 auto;
}

.action-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    z-index: 11;
}

.application  .red {
    background-color: #f46c51;
}
.application .yellow {
    background-color: #f0d77b;
}
.application .green {
    background-color: #53c653;
}

.action-icon-container {
    display: flex;
}